name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"

jobs:
  check:

    name: rust2sprint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install latest rust-toolchain
        uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: stable
          components: clippy, rustfmt

      - name: Clippy
        run: cargo clippy --all-targets --all-features
      - name: Run tests
        run: cargo test --verbose
